.rtng-img {

}

.tiny {
  width: 10%;
  padding: 0.5%;
}

.small {
  width: 20%;
  padding: 1%;
}

.big {
  width: 30%;
  padding: 1%;
}

.large {
  width: 50%;
  padding: 1%;
}

.huge {
  width: 80%;
  padding: 1%;
}

.massive {
  width: 95%;
  padding: 1%;
}
